{% extends "base.html" %}


{% block content %}
<main>
    <div class="container">
        {% if user.is_authenticated %}


        <section class="text-center mb-4">

        <div class="row wow fadeIn">

          {% for item in list_item %}
          
             
              
              <img src="{{ item.image.url }}" class="card-img-top">{{item.image.url}}
             
             
          {% endfor %}
        </div>

      </section>

    {% else %}
        <h2>You are guest, please login</h2>
        
        
    {% endif %}
    </div>
</main>

{% endblock content %}